.banner {
  background-image: url(../resources/headerBanner.png);
  width: 100%;
  max-width: 100%;
  aspect-ratio: 12;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: auto auto;
  font-weight: 700;
}

.leftGridItem {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5%;
}

.rightGridItem {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

ul li {
  padding-right: 35%;
}

.name {
  display: block;
  color: white;
  text-align: center;
  padding-left: 3%;
  text-decoration: none;
  font-size: 3vi;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 3%;
  text-decoration: none;
  font-size: 1.25vi;
}

li a:hover {
  color: B8D4F1;
}